package web

templ Index() {
	@Base("Index") {
		<div class="flex h-screen justify-center flex-col m-auto">
			<div class="w-1/5 mx-auto shadow-2xl flex flex-col gap-y-2 p-3">
				<div class="mx-auto">
					<img src="assets/logo.jpg" alt="Logo"/>
				</div>
				<button type="button">Login</button>
			</div>
		</div>
	}
}
